<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form method="post" class="login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      <button type="submit">Login</button>
      <hr>
      <button id="signupButton" type="button">Signup</button>
    </form>
  </div>

  <script>
    // Adiciona um evento de clique ao botão "Signup"
    document.getElementById('signupButton').addEventListener('click', function() {
      // Redireciona para a página signup.html
      window.location.href = './signup';
    });
  </script>
</body>
</html>