<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form method="post" action="/" class="login">
      
      <label for="email">Email:</label>
      <input type="email" name="email" required>
      
      <label for="password">Password:</label>
      <input type="password" name="password" required>
      
      <input type="submit" value="Login" class="login_button">
      <hr>
      <button id="signupButton" onclick="window.location.href='/signup'" type="button">Signup</button>
    </form>
  </div>

</body>
</html>