body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   }
   
   .ui-container {
    width: 800px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #000;
    text-align: center;
   }

   .signup_container h2 {
    text-align: center;
    margin-bottom: 20px;
}
   
   .ui-container form {
    display: flex;
    flex-direction: column;
   }
   
   .ui-container label {
    margin-bottom: 10px;
   }
   
   .ui-container input, .ui-container select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
   }

   .product_button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
   }

   .product_button:hover {
    background-color: #555;
   }
   
   .ui-container button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
   }
   
   .ui-container button:hover {
    background-color: #555;
   }
   
   table {
    width: 100%;
    border-collapse: collapse;
   }
   
   th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   }
   
   tr:nth-child(even) {
    background-color: #f2f2f2;
   }